<form action="/celebs" method="post">

  <label>Name</label>
  <input name="name"/>
  <br>

  <label>Occupation</label>
  <input name="occupation"/>
  <br>

  <label>Catch Phrase</label>
  <input name="catchPhrase"/>
  <br>

  <button type="submit">submit</button>

</form>